* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-colors: #1f242d;
  --second-bg-colors: #323946;
  --text-colors: #ffff;
  --main-colors: #fe9112;
  --bg: rgb(0, 83, 127);
}
section {
  min-height: 75vh;
  padding: 10rem 9% 2rem;
}

.home-img img {
  border-radius: 10%;
  max-width: 100%;
  height: auto;
  margin-left: 30px;
}
/* Footer */
footer {
  background-color: var(--bg);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg-colors);
  font-weight: 700;
}
